@model List<string>
@{
    ViewData["Title"] = "FavParks";
}

<h2>Favorite Parks</h2>

<section class="centeredPanel">
    <table class="table">
        @foreach (string park in Model)
        {
            string[] parkData = park.Split(',');
            string parkCode = parkData[0];
            string parkName = parkData[1];
            string parkCount = parkData[2];
        <tr>
            <td><a asp-controller="Home" asp-action="Detail" asp-route-id="@parkCode"><img src="~/images/parks/@(parkCode).jpg" /></a></td>
            <td>
            <h3 class="ParkName">Park Name: @parkName</h3>
            <p>Surveys Submitted: @parkCount</p>
            </td>
        </tr>
        }
    </table>
</section>