@model Survey
@{
    ViewData["Title"] = "Index";
}

<section class="centeredPanel">
    <h2>New Park Review</h2>
    <form asp-controller="Survey" asp-action="Index" method="post">

        <div asp-validation-summary="All" class="error"></div>
        <table class="table"> 
            <tr>
                <td><label asp-for="ParkCode">Favorite National Park</label></td> @*TODO: Make a pulldown and grab park names*@
                <td><input asp-for="ParkCode" /><span asp-validation-for="ParkCode" class="error"></span></td> @*TODO: Make a pulldown and grab park names*@
            </tr>
            <tr>
                <td><label asp-for="EmailAddress">Your email</label></td>
                <td><input asp-for="EmailAddress" /><span asp-validation-for="EmailAddress" class="error"></span></td>
            </tr>
            <tr>
                <td><label asp-for="State">State of residence</label></td>
                <td><input asp-for="State" /><span asp-validation-for="State" class="error"></span></td>
            </tr>
            <tr>
                <td><label asp-for="ActivityLevel">Activity level</label></td>@*TODO: Make a pulldown: inactive, sedentary, active, extremely active*@
                <td><input asp-for="ActivityLevel" /><span asp-validation-for="ActivityLevel" class="error"></span></td>@*TODO: Make a pulldown*@
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit!" /></td>
            </tr>
        </table>
    </form>
</section>