/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

table {
    border: none;
}

.table img {
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.park-quote {
    justify-self: center;
}


.table > tbody > tr > td {
    border: none;
}

.DetailParkName {
    font-size: 20px;
}

.detail-view {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "picture description" "weather weather";
    align-items: stretch;
    row-gap: 10px;
    column-gap: 15px;
}

.all-park-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "grid-description grid-description grid-description" "park1 park2 park3" "quote quote quote"
}

.park-description {
    grid-area: grid-description;
}

.park-info1 {
    grid-area: park1;
}

.park-info2 {
    grid-area: park2;
}

.park-info3 {
    grid-area: park3;
}

.park-quote {
    grid-area: quote;
}

.park-image {
    grid-area: picture;
    justify-self: left;
}

    .park-image img {
        border-radius: 15px;
    }

.all-park-info {
    grid-area: description;
}

.weather {
    grid-area: weather;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

    .weather > #weather {
        flex-basis: 50px;
    }

    .weather > .forecast {
        margin-top: 20px;
    }

#weather img {
    width: 175px;
}

#weather p {
    text-align: center;
}

.virginia img {
    width: 100%;
    border-radius: 15px;
    /*-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);*/
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: white;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 2px;
    padding-right: 2px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.ParkName {
    font-weight: bold;
    color: #5F3B04;
}

.DetailParkName {
    font-weight: bold;
    color: #5F3B04;
}

.navbar-inverse .navbar-nav > li > a {
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}

.navbar {
    background-color: #596664;
}

.navbar-inverse {
    border: none;
}

.submit {
    background-color: #2B97D9;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
